  body {
    background-color: #EAF6F6;
  }
  hr{
    border-style: dotted none none;
    border-top-width: thick;
    border-width: 5px;
    border-color: grey;
  }

  h1 {
    color: #800080;
  }

  h3 {
    color: #66BFBF;
  }
